/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 2. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 3. Increase line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --clr-neutral-1: #E0E2DB;
  --clr-strong-1: #191716;  
  --clr-accent-1: #ECA400;
  --clr-accent-2: #5FBFF9;
}

body {
  min-height: 100vh;
  background-color: var(--clr-neutral-1);
  color: var(--clr-strong-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: calc(100% - 3.75rem);
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  border: .0625rem solid var(--clr-strong-1);
  pointer-events: none;
}

.grid-element {
  width: calc(100% / 16);
  aspect-ratio: 1/1;
  border: .0625rem solid var(--clr-strong-1);
  cursor: pointer;
  pointer-events: auto;
}

.hovered {
  background-color: var(--clr-accent-2);
}